<% @colors = {
    purple: '#792894',
    green: '#184815',
    blue: '#1c368d',
    yellow: '#c58908',
    orange: '#fb8d1f',
    red: '#d22c2c',
    grey: '#636363',
    brown: '#814810',
  }
%>

<div class="py-2"
  x-data="{snake_table: true}"
  x-init="$nextTick(() => {
    $store.teamPicker.actions.setTeams(<%= @active_teams.to_json %>);
    $store.teamPicker.actions.setPitLaneTeams(<%= @pit_lane_karts.to_json %>);
    $store.teamPicker.actions.setRaceId(<%= @race.id.to_json %>);
  })"
>
  <%= render "shared/header", race: @race %>
  <div class="bg-gray-800 py-3 rounded-lg border border-gray-700 flex flex-col items-center">
    <div class="flex items-center">
      <div class="space-y-4 text-gray-300 flex flex-wrap">
        <% @colors.each do |name, hex| %>
          <div
            @click="$store.teamPicker.actions.selectColor('<%= name %>')"
            class="cursor-pointer border-2 rounded-full w-13 h-13 m-3 flex justify-center items-center"
            :class="{
            'border-7 border-solid border-white': '<%= name %>' === $store.teamPicker.store.$selectedColor,
            }"
            style="background-color: <%= hex %>;">
          </div>
        <% end %>
      </div>
      <div class="relative flex items-center w-[201px] h-5 my-4">
        <input id="switch-component-green" checked @change="snake_table = ! snake_table" type="checkbox" class="peer appearance-none w-11 h-5 bg-gray-500 rounded-full checked:bg-green-600 cursor-pointer transition-colors duration-300" />
        <label for="switch-component-green" class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-green-600 cursor-pointer">
        </label>
        
        <label for="switch-component-green" class="ml-3 cursor-pointer">
          Сортированый вид
        </label>
      </div>
    </div>

    <div class="text-gray-300 flex flex-wrap">
      <template x-if="snake_table">
        <div class="relative bg-gray-900 rounded-lg border border-gray-700">
          <div>
            <%= render "shared/snake_order" %>
          </div>
        </div>
      </template>
    </div>
    <template x-if="!snake_table">
      <div class="flex flex-row flex-wrap gap-2 px-2 py-1 max-w-[930px]">
        <template x-for="team in $store.teamPicker.store.$teamsStore" :key="team.id">
          <div
            x-data
            @click="() => $store.teamPicker.store.$selectedColor ? $store.teamPicker.actions.assignToTeam({teamId: team.id}) : $store.teamPicker.actions.selectTeamId(team.id)"
            x-text="team.team_id"
            class="w-16 h-16 rounded-2xl m-2 flex items-center justify-center text-xl font-semibold text-white cursor-pointer transition-shadow hover:shadow-lg"
            :class="{
              'rounded-full': ! team.our_team,
              'border-4 border-solid border-white': team.id === $store.teamPicker.store.$selectedTeamId,
              'bg-[#792894]': team.color === 'purple',
              'bg-[#184815]': team.color === 'green',
              'bg-[#1c368d]': team.color === 'blue',
              'bg-[#c58908]': team.color === 'yellow',
              'bg-[#fb8d1f]': team.color === 'orange',
              'bg-[#d22c2c]': team.color === 'red',
              'bg-[#636363]': team.color === 'grey',
              'bg-[#814810]': team.color === 'brown',
            }"
            >
          </div>
        </template>
      </div>
    </template>
    <div class="w-full h-[1px] my-4 bg-gray-700"></div>
    <%= render "shared/pit_lanes" %>
  </div>

  <div id="start_button" class="mt-4 text-center">
    <% if @race.start_time.nil? %>
      <%= button_to 'Начать гонку', start_race_path(@race), method: :post,
            data: { turbo_stream: true, turbo_confirm: 'Уверены?' },
            class: 'px-4 py-2 bg-green-600 rounded text-white hover:bg-green-700' %>
    <% end %>
  </div>
</div>

